[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/khanze/PycharmProjects/search_service_ya/search_service
ExecStart=/home/khanze/PycharmProjects/search_service_ya/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/khanze/PycharmProjects/search_service_ya/search_service/gunicorn.sock search_service.wsgi:application
